/* set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* style for jumbotron header */
.jumbotron {
  background-color: #F8F9FA;
  padding: 3rem;
  text-align: center;
}

/* style for header text */
.display-3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/* style for current day */
#currentDay {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  font-weight: bold;
}

/* style for time blocks */
.hour {
  padding-top: 1rem;
  text-align: right;
}

/* style for hours */
.hour span {
  font-weight: bold;
  color: #999;
}

/* style for event textarea */
.event-group {
  padding-top: 1rem;
}

.events {
  height: 100%;
  width: 100%;
  resize: none;
  border: none;
}

/* style for save and delete icons */
.save-delete {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.2rem;
}

/* style for delete icon */
i.fas.fa-trash {
  color: #FF5A5F;
  cursor: pointer;
}

/* style for save icon */
i.fas.fa-save {
  color: #5CB85C;
  cursor: pointer;
}

/* style for past, present, and future time blocks */
.past .events {
  background-color: #E9EBEE;
}

.present .events {
  background-color: #FDD7C6;
}

.future .events {
  background-color: #FFF9A5;
}

/* style for save and delete icons */
i.fas {
  margin: 0.5rem;
  cursor: pointer;
}

i.fas:hover {
  color: #FED136;
}